/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #000;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

/* Navbar */

nav {
  position: fixed;
  background: transparent;
  width: 100%;
  height: 12vh;
  padding: 0px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

nav .logo {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1.3px;
}

nav .links {
  display: flex;
}

@media screen and (max-width: 840px) {
  nav .links {
    display: none;
  }
}

nav .links li {
  margin: 0px 15px;
  list-style: none;
  font-size: 1.3rem;
}

nav .links li a {
  text-decoration: none;
  color: #fff;
}

nav .links li a:hover {
  text-decoration: underline;
  color: #fff;
}

/* Home */
#home {
  color: #fff;
  width: 100%;
  height: 100vh;
  background-color: rgb(11, 11, 11);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('https://static.billboard.com/files/media/study-illo-2017-billboard-1548-compressed.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 40px;
}

#home p {
  color: grey;
  letter-spacing: 1.1px;
}

#home h1 {
  margin: 10px 0px;
  font-size: 2rem;
  letter-spacing: 2px;
}

/* Danger Button */

.danger-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid rgb(207, 61, 48);
  border-radius: 10px;
  transition: 0.5s all ease-in-out;
  cursor: pointer;
}

.danger-btn a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

.danger-btn:hover {
  background-color: rgba(207, 61, 48);
}

/* About */
#about {
  width: 100%;
  padding: 40px 30px;
  background-image: url('https://www.teahub.io/photos/full/271-2719234_free-photo-backgrounds-web-page-background.jpg');
}

/* Heading */

.heading {
  font-size: 2.1rem;
  letter-spacing: 1.2px;
  color: rgba(207, 61, 48);
  margin-bottom: 50px;
}

#about .about-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#about .about-description {
  width: 60%;
}

#about .about-description h5 {
  font-size: 1rem;
  letter-spacing: 1.1px;
  word-spacing: 1.2px;
  line-height: 30px;
}

#about .about-description .danger-btn {
  margin-right: 15px;
}

#about .about-img {
  text-align: center;
  width: 30%;
  position: relative;
  perspective: 462px;
}

#about .about-img .my-image {
  width: 70%;
  border-radius: 10px;
  transform: rotateX(-360deg) rotateY(-10deg);
}

/* Social Icons */
.social-icons {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  transform: rotateX(-360deg) rotateY(-10deg);
}

.social-icons button {
  background: transparent;
  border: 0;
}

.social-icons button a {
  font-size: 2rem;
  color: #fff;
}

/* Skills */

.skills {
  margin-top: 50px;
  padding: 20px 0px;
  width: 100%;
}

.skills h1 {
  font-size: 1.7rem;
  letter-spacing: 1.3px;
  margin-bottom: 20px;
  text-align: center;
}

.skill-box {
  width: 100%;
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.skill {
  width: 50%;
  margin: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skill p {
  width: 25%;
  font-size: 1.1rem;
}

.skill-bar {
  border: 1px solid rgba(207, 61, 48);
  margin: 0px 20px;
  width: 70%;
  height: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.html-percentage {
  width: 90%;
  height: 12px;
  background: rgba(207, 61, 48);
}
.css-percentage {
  width: 50%;
  height: 12px;
  background:rgba(207, 61, 48);
}
.Java-percentage {
  width: 40%;
  height: 12px;
  background:rgba(207, 61, 48);
}
.SQL-percentage {
  width: 60%;
  height: 70%;
  background:rgba(207, 61, 48);
}
/* Education */
#education {
  width: 100%;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-image: url('https://c4.wallpaperflare.com/wallpaper/914/930/349/lightbeam-wallpaper-preview.jpg');
}

#education .education-box {
  width: 70%;
  margin: 20px auto;
  border-bottom: 1px solid rgb(207, 61, 48);
}

#education .education-box h4 {
  margin: 5px 0px;
  font-size: 1.3rem;
  letter-spacing: 1.1px;
}

#education .education-box h5 {
  margin: 5px 0px;
  font-size: 16px;
  letter-spacing: 1px;
  color: rgb(177, 169, 169);
}

#education .education-box p {
  margin: 5px 0px;
  font-size: 14px;
  letter-spacing: 1px;
  color: rgb(177, 169, 169);
  font-weight: bold;
}

/* Hobbies */
#hobbies {
  padding: 40px;
  width: 100%;
  background-image: url('https://ecommerce-platforms.com/wp-content/uploads/2014/04/12-free-blurred-backgrounds.jpg');
  color: white;
}

.hobby-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.hobby-box {
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border: 1px solid rgba(207, 61, 48, 0.384);
  padding: 2px;
  margin-bottom: 2vh;
  transition: all 0.5s;
}

.hobby-box:hover {
  color: black;
  background-color: rgba(207, 61, 48);
}

.hobby-image {
  width: 40%;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hobby-info {
  width: 60%;
  padding: 15px;
}

.hobby-info h1 {
  font-weight: bold;
  margin-bottom: 1vh;
  margin-top: 0;
}
.hobby-info p {
  font-weight: normal;
  color: rgb(194, 194, 194);
  font-size: 0.9rem;
}

/* Projects */
#projects {
  padding: 40px;
  background-image: url('https://i.pinimg.com/originals/ae/86/72/ae86727e7f7473024b3c0d758c08da4c.png');
}

.project-boxes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.project-box {
  width: 35%;
  border: 1px solid rgb(141, 42, 33);
  height: 400px;
  position: relative;
  padding: 10px 10px;
  border-radius: 5px;
  transition: 0.5s all ease-in-out;
}

.project-image {
  position: relative;
  width: 100%;
  z-index: 9;
  transition: 0.5s all ease-in-out;
}

.project-image img {
  width: 100%;
  border-radius: 5px;
}

.project-box .project-content {
  position: absolute;
  bottom: 80px;
}

.project-content a {
  text-decoration: none;
  color: rgb(207, 61, 48);
}

.project-box .project-title {
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%;
}

.project-title .date {
  font-size: 0.9rem;
  color: rgb(177, 169, 169);
}

.project-box:hover .project-image {
  transform: translateY(-15vh);
}

/* Contact */
#contact {
  padding: 40px;
  text-align: center;
}

.contact-boxes {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contact-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 27%;
  height: 200px;
  border-radius: 5px;
  border: 1px solid rgb(141, 42, 33);
  transition: 0.5s all ease-in-out;
}

.contact-box p {
  margin: 10px 0px;
  color: rgb(202, 194, 194);
}

.contact-box:hover {
  background-color: rgb(207, 61, 48);
}

/* Footer */
footer {
  text-align: center;
  letter-spacing: 1.2px;
  margin: 30px 0px;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: rgba(207, 61, 48);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(141, 42, 33);
}
